*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    margin: 0;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    flex: 1;
}

#rpsButtonContainer {
    display: flex;
    gap: 1rem;
}

#rpsButtonContainer>button {
    width: 10rem;
    height: 10rem;
    border-radius: 2.5rem;
    font-weight: bold;
}

#outputContainer {
    text-align: center;
}